.about-application {
  display: none;
  padding-top: 5%;
  padding-bottom: 5%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  @media (min-width: $desktop-width) {
    background-color: $background;
  }
}

.about-application__container {
  display: flex;
  flex-direction: row;
}

.about-application__desc {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.about-application__title {
  font-weight: 700;
  font-size: 30px;
  width: 168px;
}

.about-application__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.about-application__link {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  color: $color-accent;
  text-decoration: underline;
}
