.app-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  width: 100%;

  &--bg-white {
    background-color: $background;
  }

  @media (min-width: $tablet-width) {
    z-index: 2;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10%;
  }
}

.app-download__container {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.app-download__description {
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 38px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


.app-download__logo {
  width: auto;
}

.app-download__info {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 0;
  font-weight: 300;
  line-height: 24px;
}
