.app-description {
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.app-description__position {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.app-description__list {
  list-style-type: none;
  padding: 0%;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-left: 5%;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    width: 90%;
    justify-content: space-between;
  }
}

.app-description__item {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.app-description__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.app-description__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.app-description__logo {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 280px;
  overflow: hidden;
  margin: 0;
  padding-inline-start: 0;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    height: 382px;
    width: 90%;
    justify-content: space-between;
  }
}

.app-description__img {
  &--hidden {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    width: 268px;
    position: relative;
  }
}
