.app-download {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-main;
  padding-top: 30px;
}

.app-download__button {
  width: 90vw;
  height: 55px;
  border-radius: 29px;
  background-color: $color-main;
  border: 3px solid white;
  color: white;
  font-size: 18px;
  outline: none;
  font-weight: 700;

  &:hover {
    background-color: white;
    color: $color-accent;
  }

  &:active {
    background-color: white;
    color: lighten($color-accent, 30);
  }
}

.app-download__description {
  width: 60vw;
  padding: 0%;
  margin-top: 38px;
  list-style-type: none;
  padding-left: 58px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-download__logo {
  width: auto;
}

.app-download__info {
  width: 90vw;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-bottom: 38px;
  margin: 0;
  font-weight: 300;
  line-height: 24px;
}
