.app-download {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-main;
  padding-top: 30px;
  width: 100vw;

  &--bg-white {
    background-color: $background;
  }

  @media (min-width: $tablet-width) {
    z-index: 1;
    width: 40vw;
    background-color: transparent;
    padding-left: 5vw;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10vw;
  }
}

.app-download__description {
  width: 60%;
  padding: 0%;
  margin-top: 38px;
  list-style-type: none;
  padding-left: 58px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.app-download__logo {
  width: auto;
}

.app-download__info {
  width: 90vw;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-bottom: 38px;
  margin: 0;
  font-weight: 300;
  line-height: 24px;
}
