.container {
  width: 90%;

  @media (min-width: $tablet-width) {
    min-width: 600px;
    max-width: 800px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    max-width: 1000px;
    position: relative;
  }
}

.container__row-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.container__column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
