.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-between;
  }
}

.footer__img {
  width: 145px;
}

.footer__socials-field {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 30vw;
  }
}

.footer__socials {
  width: 48px;
  height: 48px;
  border: 3px solid rgb(196, 196, 196);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
