.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 175px;
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.footer__img {
  width: 145px;
}

.footer__socials-field {
  min-width: 175px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 30%;
  }
}

.footer__socials {
  width: 48px;
  height: 48px;
  border: 3px solid rgb(196, 196, 196);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
