.info {
  background-image: url("../img/back-mobile.png");
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.png");
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    height: 850px;
  }
}

.info__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: 5%;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
  }
}

.info__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.info__title {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 10%;
  margin-top: 10%;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.info__img {
  height: 90vw;

  @media (min-width: $tablet-width) {
    height: 545px;
    width: auto;
    position: absolute;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    height: 700px;
    width: auto;
    position: absolute;
    right: 0;
  }
}

.info__description {
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  width: 90%;
  display: block;
  color: #283645;
}
