.info {
  width: 100%;
  position: relative;
  background-image: url("../img/back-mobile.png");

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.png");
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    height: 850px;
  }
}

.info__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}


.info__title {
  width: 100%;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

// .info__container-img {
//   display: flex;
//   justify-content: center;
// }

.info__img {
  height: 286px;

  @media (min-width: $tablet-width) {
    height: 545px;
    position: absolute;
    right: 0;
  }
}

.info__description {
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  width: 90%;
  display: block;
  color: #283645;
}
