.main-nav {
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    position: absolute;
  }
}

.main-nav__list {
  margin: 0%;
  padding-left: 0%;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    z-index: 3;
    min-width: 650px;
    max-width: 800px;
    justify-content: space-between;
  }
}

.main-nav__item {
  min-height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #283645;

  @media (min-width: $desktop-width) {
    width: auto;
    background-color: transparent;
  }
}

.main-nav__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
}
