.page-header {
  width: 100%;
  min-height: 70px;
  background-color: #283645;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;
    background-color: rgba(#000000, 0.5);
  }
}

.page-header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
}

.page-header__logo {
  &--size {
    width: 74px;
  }
}

.page__toggle {
  width: 23px;
  height: 23px;
}
