.page__body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
