.page-header {
  padding: 20px;
  padding-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  background-color: #283645;

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100vw;
    z-index: 1;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.page-header__logo {
  &--size {
    width: 74px;
  }
}

.page__toggle {
  width: 23px;
  height: 23px;
}
