
.rate {
  background-color: $background;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.rate__table {
  width: 100%;
  border-spacing: 0;
}

.rate__line {
  margin: 0;
  padding: 0;
}

.rate__item-title {
  height: 94px;
  background-color: $color-main;

  &--hidden {
    visibility: hidden;
  }
}

.rate__item {
  height: 59px;
  background-color: white;
  font-size: 14px;
  line-height: 30px;

  &--hidden {
    display: none;
  }
}

.rate__tarif {
  color: white;
  font-size: 18px;
}

.rate__price {
  color: white;
  font-size: 18px;
}
