.rate {
  background-color: $background;
}

.rate__table {
  width: 100%;
  border-spacing: 0;
}

.rate__line {
  margin: 0;
  padding: 0;
}
.rate__item-title {
  height: 94px;
  background-color: $color-main;
  width: 100%;

  &--hidden {
    visibility: hidden;
  }
}

.rate__item {
  height: 59px;
  background-color: white;
  width: 90vw;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;

  &--hidden {
    display: none;
  }
}

.rate__tarif {
  color: white;
  font-size: 18px;
}

.rate__price {
  color: white;
  font-size: 18px;
}
