.slider__list {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.slider__text {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
