.slogan {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.slogan__item {
  color: $color-main;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;
  font-weight: 300;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    margin: 0;

    &--nowrap {
      white-space: nowrap;
    }
  }
}
