.user-progress {
  border: none;
  background-color: $background;
  margin: 0;
}

.user-progress__list {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.user-progress__item {
  list-style-type: none;
  padding-bottom: 30px;
}

.user-progress__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-progress__title {
  order: 2;
  padding-left: 15px;
  font-size: 18px;
  color: $color-main-lightem;
}

.user-progress__checkbox {
  width: 35px;
  height: 35px;
  border-radius: 1px;
  border: 2px solid #e5e5e5;
  font-weight: 400;
}

.user-progress__radio {
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
}
