@import "./globals/variables.scss";
@import "./blocks/app-description.scss";
@import "./blocks/app-download.scss";
@import "./blocks/author.scss";
@import "./blocks/button-dots.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
@import "./blocks/info.scss";
@import "./blocks/main-index.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/map.scss";
@import "./blocks/page.scss";
@import "./blocks/rate.scss";
@import "./blocks/slider.scss";
@import "./blocks/slogan.scss";
@import "./blocks/page-header.scss";
@import "./fonts.scss";
@import "./blocks/form.scss";
@import "./blocks/user-data.scss";
@import "./blocks/user-progress.scss";
@import "./blocks/submit.scss";
@import "./blocks/gallery.scss";
@import "./blocks/mask.scss";
@import "./blocks/main-btn.scss"
